@import "tailwindcss";
@import "@nuxt/ui";

@font-face {
  font-family: "Horsham";
  src: url("@/assets/fonts/Horsham.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("@/assets/fonts/Roboto.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@layer base {
  @theme static {
    --font-horsham: "Horsham", sans-serif;
    --font-roboto: "Roboto", sans-serif;

    --color-primary: #033f73;
    --color-primary-50: #e1edf7;
    --color-primary-100: #c0d6f0;
    --color-primary-200: #a0c0e9;
    --color-primary-300: #7fa9e1;
    --color-primary-400: #5f93da;
    --color-primary-500: #033f73;
    --color-primary-600: #02325c;
    --color-primary-700: #022349;
    --color-primary-800: #011634;
    --color-primary-900: #010e1a;
    --color-primary-950: #02294f;

    --color-primary-foreground: #ffffff;
  }
}
body {
  font-family: Helvetica, sans-serif;
}
