@import "tailwindcss";
@import "@nuxt/ui";

@font-face {
  font-family: "Horsham";
  src: url("@/assets/fonts/Horsham.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("@/assets/fonts/Roboto.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@layer base {
  @theme static {
    --font-horsham: "Horsham", sans-serif;
    --font-roboto: "Roboto", sans-serif;

    --color-primary: #033f73;
    --color-primary-dark: #1d4ed8;
    --color-primary-50: #e1edf7;
    --color-primary-100: #c0d6f0;
    --color-primary-200: #a0c0e9;
    --color-primary-300: #7fa9e1;
    --color-primary-400: #5f93da;
    --color-primary-500: #033f73;
    --color-primary-600: #02325c;
    --color-primary-700: #022349;
    --color-primary-800: #011634;
    --color-primary-900: #010e1a;
    --color-primary-950: #02294f;

    --color-primary-foreground: #ffffff;

    --color-secondary: #29a395;
    --color-secondary-50: #f2fbf9;
    --color-secondary-100: #d2f5ee;
    --color-secondary-200: #a5eadd;
    --color-secondary-300: #70d8c8;
    --color-secondary-400: #43beaf;
    --color-secondary-500: #29a395;
    --color-secondary-600: #1f857c;
    --color-secondary-700: #1c6963;
    --color-secondary-800: #1b5450;
    --color-secondary-900: #1b4643;
    --color-secondary-950: #0a2929;
  }
}
body {
  font-family: Helvetica, sans-serif;
}
